.site-btn{
    background: #FCB72B;
    padding: 14px 39px;
    text-decoration: none;
    font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
border: 3px solid transparent;
margin-bottom: 24px;
margin-right: 165px;


&:hover{
border: 3px solid #FCB72B;
background-color: transparent;
color: #FCB72B;
transition: all 0.2s;
}

}

@media only screen and(max-width: 1402px) {
    .site-btn{
        margin: 0 auto;
        margin-left: -340px;
    }
}
