.site-header__logo  {
    transition: opacity 0.4s;
    flex-shrink: 0;

    &__img{
      flex-shrink: 0;

    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media only screen and(max-width: 510px) {
      .site-header__logo{
        margin-top: 22px;
        margin: 0 auto;
        width: 75px;
        height: 22px;
        flex-shrink: 0;
        // margin-left: 200px;

        &__img{
          flex-shrink: 0;
      }

      }

  }
