.logo{
    flex-shrink: 0;

    &:hover{
        opacity: 0.8;
        transition: all 0.4s;
    }

    &:active{
        opacity: 0.4;
        transition: all 0.4s;
    }
}

@media only screen and(max-width: 768px) {
        .logo{
            flex-shrink: 0;
            margin-left: 20px;
            width: 108px;
            height: 53px;
        }
}