.main{
    // padding: 22px 0;
    flex-grow: 1;

        &__border{
         margin-left: -180px;
         margin-top: 160px;
        }

        &__line{
            height: 10px;
        }

        &__list{
            list-style: none;
            display: flex;
        }

        &__item + &__item{
            margin-left: 30px;
        }

        &__heading{
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1.07143px;
            color: #495567;
        }

        &__desc{
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
        }
}

@media only screen and(max-width: 768px) {
        .main{

            // background-image: url("../../images/main-tablet.png");
            // background-repeat: no-repeat;
            // background-size: contain;
            // width: 288px;
            // height: 288px;

            &__border{
                display: none;
            }
        }
}